<% title t('activerecord.models.profiles') %>
<% content_for :page_actions do %>
  <a class="btn btn-primary" href="<%= new_profile_path %>"><span class="fe fe-plus-circle fe-12 mr-2"></span><%= t 'buttons.add' %>
  </a>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <% if @profiles.length == 0 and !params[:q].present? %>
        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow">
              <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                <h6 class="">Não há itens cadastrados.</h6>
              </div>
            </div>
          </div>
        </div>
      <% else %>


        <%= search_form_for @q, url: profiles_path do |f| %>
          <div class="row my-4">
            <div class="col-md-6">

              <div class="input-group mb-3">
                <%= f.text_field :name_or_description_or_namespace_cont, class: 'form-control', placeholder: "Nome ou email" %>
                <div class="input-group-append">
                  <button class="btn btn-light" type="submit">
                    <span class="fe fe-search fe-16 text-muted"></span>
                  </button>
                </div>
              </div>

            </div>

            <div class="col-md-auto ml-auto text-right">
              <% if params[:q].present? %>
              <span class="small bg-white border py-1 px-2 rounded mr-2">
                    <a href="<%= profiles_path %>" class="text-muted"><i class="fe fe-x"></i></a>
                    <a href="#" class="text-muted ml-2"><span class="">Filtrado</span></a>
                  </span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <% if @profiles.count == 0 %>
              <div class="card shadow">
                <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                  <h6 class="">Nenhum item correspondente encontrado.</h6>
                </div>
              </div>
            <% else %>
              <table class="table border table-hover bg-white table-sm">
                <thead>
                <tr role="row">
                  <th width="40%"><%= t 'activerecord.attributes.profile.name' %></th>
                  <th width="40%"><%= t 'activerecord.attributes.profile.description' %></th>
                  <th width="10%"><%= t 'activerecord.attributes.profile.active' %></th>
                  <th width="10%" class="right">Ação</th>
                </tr>
                </thead>
                <tbody>
                <% @profiles.each do |profile| %>
                  <tr>
                    <td><a href="<%= profile_path profile %>"><strong><%= truncate profile.name %></strong></a></td>
                    <td><%= truncate profile.description %></td>
                    <td>
                      <% if profile.active %>
                        <span class="text-success">Ativo</span>
                      <% else %>
                        <span class="text-danger">Inativo</span>
                      <% end %>
                    </td>

                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr<%= profile.id %>">
                          <a class="dropdown-item" href="<%= edit_profile_path profile %>">Editar</a>
                          <a class="dropdown-item" href="<%= toggle_status_profile_path profile %>">
                            <% if profile.active %>
                              <span class="text-danger">Inativar</span>
                            <% else %>
                              <span class="text-success">Ativar</span>
                            <% end %>
                          </a>
                          <% if profile.users.count == 0 %>
                            <a class="sw-delete dropdown-item bg-danger-light text-white" onclick="set_id('<%= profile.id %>', '<%= profile.class.to_s.split(':')[0] %>')" target="_self" href="#">
                              Excluir
                            </a>
                          <% end %>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <%= paginate @profiles %>

            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>