<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @profile.active %>
</p>

<p>
  <strong>Permissions:</strong>
  <%= @profile.permissions %>
</p>

<p>
  <strong>Namespace:</strong>
  <%= @profile.namespace %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
