<% content_for :page_actions do %>
  <a class="btn btn-primary" href="#" onClick="document.getElementById('submit-idea').click()">Salvar</a>
<% end %>
<%= form_with(model: idea, html: { class: "needs-validation", novalidate: '', id: 'form-idea' }) do |form| %>
  <%= form.hidden_field :ideializer_id, value: idea.ideializer_id || current_user.id %>
  <%= hidden_field_tag :breadcrumb, params[:breadcrumb] %>

  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= t 'texts.solve_the_following_problems' %>:
      </h5>
      <ul>
        <% idea.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row justify-content-center">


      <div class="col-12 col-xl-10">

        <hr class="my-4">
        <h5 class="mb-2 mt-4">Dados básicos</h5>
        <p class="mb-4">Informações básicas sobre sua ideia</p>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :title, class: 'required' %>
            <%= form.text_field :title, class: 'form-control', placeholder: 'Ex: Aplicativo para hortas', required: true, maxlength: 80, size: 80 %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>

          <div class="form-group col-md-6 col-sm-12">
            <%#= form.label :category_ids %>
            <%#= form.select :category_ids, options_for_select(IdeaCategory.active.map { |c| [c.name, c.id] }, idea.category_ids), {}, { class: 'form-control select2-multi', multiple: "multiple", required: true } %>
            <%= form.label :idea_category_id, class: 'required' %>
            <%= form.select :idea_category_id, IdeaCategory.active.map { |r| [r.name, r.id] }, { include_blank: t('texts.select') }, { class: 'form-control custom-select', required: true } %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= form.label :description, class: 'required' %>
            <%= form.text_area :description, class: 'form-control', placeholder: 'Ex: Proponho a construção de um aplicativo para o manejo de hortas de pequeno porte. Voltado para aqueles pequenos agricultores e feirantes. Estou à disposição para dar mais detalhes sobre minha ideia, caso você deseje colaborar comigo.', rows: 4, required: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :state, class: 'required' %>
            <%= form.select :state, @states, { include_blank: t('texts.select') }, { class: 'form-control custom-select', required: true } %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :city, class: 'required' %>
            <%= form.select :city, options_for_select(@cities, idea.city), { include_blank: t('texts.select') }, { class: 'form-control custom-select', required: true } %>
          </div>
        </div>

        <div class="mt-4">
          <div class="form-row form-check-inline col-md-12">
            <div class=" col-md-6">
              <%= form.check_box :possibility_business, class: 'form-check-input' %>
              <%= form.label :possibility_business %>
              <p class="text-muted"> Marque se você considerá que está ideia
                pode se tornar um empreendimento, algo
                vendável ou até mesmo uma patente. </p>
            </div>
            <div class=" col-md-6">
              <%= form.check_box :possibility_reward, class: 'form-check-input' %>
              <%= form.label :possibility_reward %>
              <p class="text-muted"> Marque se existe a possíbilidade de você
                recompensar monetariamente as pessoas que
                desejam colaborar. </p>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <%= form.label :status %> <br>
            <% Idea.status.options.each do |type| %>
              <%= form.radio_button :status, type.last, class: 'form-check form-check-inline', checked: type.last == idea.status_value_default, id: type.last %>
              <%= form.label :status, type.first, value: type.last, class: 'mr-3', for: type.last %>
            <% end %>
          </div>
        </div>

        <hr class="my-4">
        <h5 class="mb-2 mt-4">Dados avançados</h5>
        <p class="mb-4">Informações equivalentes a de uma apresentação
          <a target="_blank" href="https://www.sebrae.com.br/sites/PortalSebrae/ufs/pe/artigos/voce-sabe-o-que-e-pitch,ba69d9119bbac610VgnVCM1000004c00210aRCRD">Pitch</a>.
          Dados opcionais.</p>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :problem_to_solve %>
            <%= form.text_area :problem_to_solve, class: 'form-control', placeholder: 'Ex: Anseio pessoal e coletivo de difundir as melhores práticas de como construir uma horta em casa ou mesmo pequenas plantações.', rows: 4 %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :suffering_people %>
            <%= form.text_area :suffering_people, class: 'form-control', placeholder: 'Ex: Pequenos agricultores, pessoas com desejo de construir horta caseira e pequenos feirantes.', rows: 4 %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :proposed_solution %>
            <%= form.text_area :proposed_solution, class: 'form-control', placeholder: "Ex: Criação de um aplicativo com as seguintes funcionalidades, a princípio:\n- fornecer um catalogo de informações de diferentes cultivos: quando, como e onde semear;\n- como preparar biofertilizantes\n- calendário verde\n", rows: 4 %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :differential %>
            <%= form.text_area :differential, class: 'form-control', placeholder: "Ex: Poucas ferramentas tecnológicas voltadas para esse nicho específico de população. \nSimplicidade, baixo custo e comodidade.", rows: 4 %>
          </div>
        </div>


        <div class="form-row">
          <div class="col-md-12 text-right">
            <button type="submit" id="submit-idea" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :footer do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $('#idea_state').change(function () {
        $.ajax({
          url: '/ideas/update_state', data: {
            state_uf: $('#idea_state').val()
          }, dataType: 'script'
        });
      });
    });
  </script>
<% end %>