<%= form_with(model: idea, html: { class: "needs-validation", novalidate: '' }) do |form| %>
  <%= form.hidden_field :ideializer_id, value: current_user.id %>

  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= t 'texts.solve_the_following_problems' %>:
      </h5>
      <ul>
        <% idea.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <h2 class="mb-2 mt-4"><%= t 'activerecord.models.idea' %></h2>
        <p class="mb-4">Informações básicas sobre sua ideia</p>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :title %>
            <%= form.text_field :title, class: 'form-control', required: true %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :idea_category_idea_ids %>
<!--            <label for="multi-select2" class="">Regioes</label>-->
<!--            <select class="form-control select2-multi" id="multi-select2">-->
<!--              <optgroup label="Mountain Time Zone">-->
<!--                <option value="AZ">Arizona</option>-->
<!--                <option value="CO">Colorado</option>-->
<!--                <option value="ID">Idaho</option>-->
<!--                <option value="MT">Montana</option>-->
<!--                <option value="NE">Nebraska</option>-->
<!--                <option value="NM">New Mexico</option>-->
<!--                <option value="ND">North Dakota</option>-->
<!--                <option value="UT">Utah</option>-->
<!--                <option value="WY">Wyoming</option>-->
<!--              </optgroup>-->
<!--              <optgroup label="Central Time Zone">-->
<!--                <option value="AL">Alabama</option>-->
<!--                <option value="AR">Arkansas</option>-->
<!--                <option value="IL">Illinois</option>-->
<!--                <option value="IA">Iowa</option>-->
<!--                <option value="KS">Kansas</option>-->
<!--                <option value="KY">Kentucky</option>-->
<!--                <option value="LA">Louisiana</option>-->
<!--                <option value="MN">Minnesota</option>-->
<!--                <option value="MS">Mississippi</option>-->
<!--                <option value="MO">Missouri</option>-->
<!--                <option value="OK">Oklahoma</option>-->
<!--                <option value="SD">South Dakota</option>-->
<!--                <option value="TX">Texas</option>-->
<!--                <option value="TN">Tennessee</option>-->
<!--                <option value="WI">Wisconsin</option>-->
<!--              </optgroup>-->
<!--            </select>-->
            <%= form.select :idea_category_idea_ids,
                         options_for_select(IdeaCategory.active.map{|c| [c.name, c.id]}, idea.idea_category_idea_ids),
                         {},
                         {class: 'form-control select2-multi', multiple: "multiple"} %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control', rows: 4, required: true %>
          </div>
        </div>

        <hr class="my-4">
        <div class="form-row">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Savar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
