<% content_for :header do %>
  <style>
    .ideas .card:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
  </style>
<% end %>

<%= content_for :alert do %>
  <% unless @show_info %>
    <div class="col-md-12 col-sm-12 alert alert-warning alert-dismissible fade show" role="alert">
      <div class="row">
        <div class="col-md-6">
          <span class="h4" style="color: #7c5502">
            Precisa de uma ideia para seu projeto de pesquisa? TCC? <br>Está em busca de pessoas com ideias inovadoras, talvez até lucrativas? <br><br><br><br>
          </span>
          <span>
            Dê uma olhada nessas ideias, ajude-as a se tornarem realidade. Você pode!!
          </span>
        </div>
        <div class="col-md-6 text-center">
          <img src="/img/parceria.png" width="400px" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <button type="button" class="close" onclick="showInfoIdeas();" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>


<% title t('texts.idea.wall_of_ideas') %>
<% content_for :page_actions do %>
  <% if self.controller.send(:_layout, self.lookup_context, []) == 'devise_layout' %>
    <a class="" href="<%= homepage_pages_path %>">Área administrativa</a>
  <% end %>
<% end %>

<div class="col-12">


  <% if @ideas.length == 0 and !params[:q].present? and !params[:quick_filter] %>
    <div class="row">
      <div class="col-sm-12">
        <div class="card shadow">
          <div class="card-body my-4 align-items-center h-100 row justify-content-center">
            <h6 class="">Não há itens cadastrados.</h6>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= search_form_for @q do |f| %>
      <div class="row items-align-center my-4">
        <div class="col-md">
          <ul class="nav nav-pills justify-content-start">
            <li class="nav-item">
              <% item_selected = (params[:q].nil? and !params[:quick_filter].present?) %>
              <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= ideas_path %>">Todas</a>
            </li>

            <li class="nav-item">
              <% item_selected = (params[:quick_filter].eql? 'my_collaborations') %>
              <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= ideas_path(quick_filter: 'my_collaborations') %>">Minhas
                colaborações</a>
            </li>

            <li class="nav-item">
              <% item_selected = (params[:quick_filter].eql? 'my_ideas') %>
              <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= ideas_path(quick_filter: 'my_ideas') %>">Minhas
                ideias</a>
            </li>
          </ul>
        </div>

        <div class="col-md-auto ml-auto text-right">
          <% if params[:q].present? %>
              <span class="span-filtrado small bg-white border py-1 px-2 rounded mr-2">
                    <a href="<%= ideas_path %>" class="text-muted"><i class="fe fe-x"></i></a>
                    <a href="#" data-toggle="modal" data-target=".modal-slide" class="text-muted ml-2"><span class="">Filtrado</span></a>
                  </span>
          <% end %>
          <button type="button" class="btn" data-toggle="modal" data-target=".modal-slide">
            <span class="fe fe-filter fe-16 text-muted"></span>
          </button>
        </div>
      </div>
    <% end %>

    <div class="row">
      <% if @ideas.count == 0 %>
        <div class="col-md-12">
          <div class="align-items-center h-100 row justify-content-center">
            <h6 class="my-5">Nenhum item correspondente encontrado.</h6>
          </div>
        </div>
      <% else %>

        <% @ideas.each do |idea| %>
          <div class="col-md-6 col-sm-12 col-lg-3 my-2 ideas">
            <a href="<%= idea_path idea %>" style="text-decoration: none">
              <div class="card shadow h-100">
                <div class="card-body text-center">

                  <!--                  <div class="center-cropped"-->
                  <!--                       style="background-image: url('<%#= idea.idea_category.get_url_img %>');">-->
                  <!--                  </div>-->

                  <div class="avatar avatar-lg">
                    <img src="<%= idea.idea_category.get_url_img %>" style="background-color: white;" height="60" width="50" alt="..." class="avatar-img rounded-circle">
                  </div>

                  <div class="card-text mt-2">
                    <strong class="card-title my-0"><%= truncate idea.title, length: 80 %></strong>
                    <p class="small text-muted mb-0"><%= truncate idea.ideializer.name %></p>
                    <p class="small mb-0">
                      <span class="badge badge-light text-muted"><%= truncate idea.locality %></span>
                      <span class="badge badge-light text-muted"><%= idea.get_semester %></span>
                    </p>
                    <% if idea.collaborations.map(&:user_id).include? current_user.id %>
                      <p class="small mb-0">
                        <span class="badge badge-warning">Colaborando</span>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>

        <div class="col-sm-12">
          <%= paginate @ideas %>
        </div>
      <% end %>
    </div>
    </div>

    <% content_for :busca do %>
      <%= search_form_for @q do |f| %>
        <div class="modal fade modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="fe fe-x fe-12"></i>
                </button>
              </div>

              <div class="modal-body">
                <div class="p-2">

                  <div class="form-group my-4">
                    <p class="mb-2">
                      <strong>Pesquisa por termos</strong>
                    </p>
                    <div class="">
                      <%= f.text_field :title_or_description_or_idea_category_name_cont, class: 'form-control', placeholder: "Título, descrição ou categoria" %>
                    </div>
                  </div>

                  <div class="form-group my-4">
                    <div class="custom-control custom-checkbox mb-2">
                      <%= f.check_box :possibility_business_eq, class: 'custom-control-input' %>
                      <%= f.label :possibility_business_eq, 'Ideias com possibilidade de negócio', class: 'custom-control-label' %>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <%= f.check_box :possibility_reward_eq, class: 'custom-control-input' %>
                      <%= f.label :possibility_reward_eq, 'Ideias com possibilidade de recompensa', class: 'custom-control-label' %>
                    </div>
                  </div>


                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn mb-2 btn-primary btn-block">Filtrar</button>
                <a href="<%= ideas_path %>" class="btn mb-2 btn-secondary btn-block">Limpar</a>
              </div>
            </div>
          </div>
        </div>


      <% end %>

    <% end %>
  <% end %>
  </div>

  <% content_for :footer do %>
    <script type="text/javascript" charset="utf-8">
      function showInfoIdeas() {
        $.ajax({
          url: '<%= set_cookie_pages_path(cookie: IdeasController::SHOW_INFO_INDEX) %>', dataType: 'json'
        });
      }
    </script>
  <% end %>