<%= content_for :alert do %>
  <% unless @show_info %>
    <div class="col-md-12 col-sm-12 alert alert-warning alert-dismissible fade show" role="alert">
      <div class="row">
        <div class="col-md-6">
          <b class="h4" style="color: #7c5502">Precisa de pessoas para ajudar a tirar a sua ideia do papel?</b> <br>
          <b><span class="text-success-darker">Sim? Então você está no lugar certo!</span></b> <br><br><br>

          Compartilhe conosco! <br>
          Temos uma "galera" querendo ajudar! <br>
          <span style="font-size: 80%">Alunos, pesquisadores, professores, intituições de fomento, incubadoras...</span>
        </div>
        <div class="col-md-6 text-center">
          <img src="/img/parceria.png" width="400px" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <button type="button" class="close" onclick="showInfoIdeas();" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>

<% title t('texts.idea.my_ideas') %>
<% content_for :page_actions do %>
  <a id="btn-add-idea" class="btn btn-primary pulse3" href="<%= new_idea_path %>"><span class="fe fe-plus-circle fe-12 mr-2"></span>Compartilhar
    ideia
  </a>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <!-- widgets -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card shadow h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <label class="text-muted mb-1">Total de ideias</label>
                  <h3 class="card-title mb-0"><%= @qtd_all %></h3>
                </div>
                <div class="col-4 text-right">
                  <p class="small text-muted mb-0"><span>Públicas e privadas</span></p>
                  <span class="inlinepie"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <small class="text-muted mb-1">Total visualizações</small>
                  <h3 class="card-title mb-0"><%= @qtd_views %></h3>
                </div>
                <div class="col-4 text-right">
                  <p class="small text-muted mb-0"><span>Últimos 5 dias</span></p>
                  <span class="inlinebar"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-filter text-white mb-0"></i>
                          </span>
                </div>
                <div class="col">
                  <p class="small text-muted mb-2">
                    <span class="mr-1">Taxa de colaboração</span><span class="text-muted fe fe-24 fe-info" style="font-size: 18px" data-toggle="tooltip" data-placement="bottom" title="Percentual das suas ideias que obtiveram colaboração"></span>
                  </p>
                  <div class="row align-items-center no-gutters">
                    <div class="col-auto">
                      <span class="h3 mr-2 mb-0"> <%= @tax_collaboration %>% </span>
                    </div>
                    <div class="col-md-12 col-lg">
                      <div class="progress progress-sm mt-2" style="height:3px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: <%= @tax_collaboration %>%" aria-valuenow="<%= @tax_collaboration %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if @ideas.length == 0 and !params[:q].present? %>
        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow">
              <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                <h6 class="">Não há itens cadastrados.</h6>
              </div>
            </div>
          </div>
        </div>
      <% else %>


        <%= search_form_for @q, url: my_ideas_ideas_path do |f| %>
          <div class="row my-4">
            <div class="col-md-6">

              <div class="input-group mb-3">
                <%= f.text_field :title_or_description_or_idea_category_name_cont, class: 'form-control', placeholder: "Título, descrição, categoria..." %>
                <div class="input-group-append">
                  <button class="btn btn-light" type="submit">
                    <span class="fe fe-search fe-16 text-muted"></span>
                  </button>
                </div>
              </div>

            </div>

            <div class="col-md-auto ml-auto text-right">
              <% if params[:q].present? %>
              <span class="small bg-white border py-1 px-2 rounded mr-2">
                    <a href="<%= my_ideas_ideas_path %>" class="text-muted"><i class="fe fe-x"></i></a>
                    <a href="#" class="text-muted ml-2"><span class="">Filtrado</span></a>
                  </span>
              <% end %>
              <!--              <button type="button" class="btn" data-toggle="modal" data-target=".modal-slide">-->
              <!--                <span class="fe fe-filter fe-16 text-muted"></span>-->
              <!--              </button>-->
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <% if @ideas.count == 0 %>
              <!--              <div class="row">-->
              <!--                <div class="col-sm-12">-->
              <div class="card shadow">
                <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                  <h6 class="">Nenhum item correspondente encontrado.</h6>
                </div>
              </div>
              <!--                </div>-->
              <!--              </div>-->
            <% else %>
              <table class="table border table-hover bg-white">
                <thead>
                <tr role="row">
                  <th width="40%"><%= t 'activerecord.attributes.idea.title' %></th>
                  <th><%= t 'activerecord.attributes.idea.idea_category_id' %></th>
                  <th><%= t 'activerecord.attributes.idea.possibility_business' %></th>
                  <th><%= t 'activerecord.attributes.idea.possibility_reward' %></th>
                  <th><%= t 'activerecord.attributes.idea.status' %></th>
                  <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <% @ideas.each do |idea| %>
                  <tr>
                    <td width="40%">
                      <a href="<%= idea_path idea %>"><strong><%= idea.title %></strong></a>
                    </td>
                    <td><%= truncate idea.idea_category.name %></td>
                    <td><%= bool_s idea.possibility_business %></td>
                    <td><%= bool_s idea.possibility_reward %></td>
                    <td>
                      <% if idea.status.public? %>
                        <span class="dot dot-lg mr-2" style="background-color: #3AD29F;"></span><%= idea.status_text %>
                      <% elsif idea.status.private? %>
                        <span class="dot dot-lg mr-2" style="background-color: #2C67FF;"></span><%= idea.status_text %>
                      <% else %>
                        <span class="dot dot-lg mr-2" style="background-color: #EFA302;"></span><%= idea.status_text %>
                      <% end %>
                    </td>
                    <td>
                      <div class="links-table">
                        <a href="<%= idea_path idea %>" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.show' %>">
                          <span class="fe fe-eye fe-16 mr-2"></span>
                        </a>
                        <a href="<%= edit_idea_path idea %>" class="text-success-darker" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.edit' %>">
                          <span class="fe fe-edit fe-16 mr-2"></span>
                        </a>
                        <a class="sw-delete text-danger" onclick="set_id('<%= idea.id %>', '<%= idea.class.to_s.split(':')[0] %>')" target="_self" href="#" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.destroy' %>">
                          <span class="fe fe-trash fe-16 mr-2"></span>
                        </a>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <%= paginate @ideas %>

            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <script src="/templates/tinydash/light/js/d3.min.js"></script>
  <script src="/templates/tinydash/light/js/topojson.min.js"></script>
  <script src="/templates/tinydash/light/js/datamaps.all.min.js"></script>
  <script src="/templates/tinydash/light/js/datamaps-zoomto.js"></script>
  <script src="/templates/tinydash/light/js/datamaps.custom.js"></script>
  <script src="/templates/tinydash/light/js/Chart.min.js"></script>
  <script>
    /* defind global options */
    Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
    Chart.defaults.global.defaultFontColor = colors.mutedColor;
  </script>
  <script src="/templates/tinydash/light/js/gauge.min.js"></script>
  <script src="/templates/tinydash/light/js/jquery.sparkline.min.js"></script>
  <script src="/templates/tinydash/light/js/apexcharts.min.js"></script>
  <script src="/templates/tinydash/light/js/apexcharts.custom.js"></script>
  <!--  <script src="/templates/tinydash/light/js/apps.js"></script>-->
<% end %>

<% content_for :footer do %>
  <script type="text/javascript" charset="utf-8">
    // var options1 = {
    //     series: [67, 33],
    //     labels: ['Públicas', 'Privadas'],
    //     chart: {
    //         type: 'pie',
    //         width: 80,
    //         // height: 80,
    //         sparkline: {
    //             enabled: true
    //         },
    //         expandOnClick: false
    //     },
    //     stroke: {
    //         width: 0
    //     },
    //     tooltip: {
    //         enabled: true,
    //     },
    //         plotOptions: {
    //             pie: {
    //                 expandOnClick: false
    //             }
    //         }
    //
    // };
    // var chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
    // chart1.render();

    // var options5 = {
    //     series: [{
    //         data: [0, 3, 1, 5, 0, 0, 6]
    //     }],
    //     chart: {
    //         type: 'bar',
    //         width: '100%',
    //         height: 32,
    //         sparkline: {
    //             enabled: true
    //         }
    //     },
    //     plotOptions: {
    //         bar: {
    //             columnWidth: '80%'
    //         }
    //     },
    //     labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    //     xaxis: {
    //         crosshairs: {
    //             width: 1
    //         },
    //     },
    //     tooltip: {
    //         fixed: {
    //             enabled: false
    //         },
    //         x: {
    //             show: false
    //         },
    //         y: {
    //             title: {
    //                 formatter: function (seriesName) {
    //                     return ''
    //                 }
    //             }
    //         },
    //         marker: {
    //             show: false
    //         }
    //     }
    // };
    //
    // var chart2 = new ApexCharts(document.querySelector("#chart2"), options5);
    // chart2.render();

    $(".inlinepie").sparkline([<%= @persent_publics %>, <%= @persent_privates %>], {
      labels: ['Públicas', 'Privadas'], type: "pie", height: "32", width: "32", sliceColors: ['#3AD29F', '#2C67FF']//chartColors
    });

    $(".inlinebar").sparkline(<%= @last_five_days %>, {
      type: "bar", width: "100%", height: "35", barColor: base.primaryColor, barWidth: 4, barSpacing: 2
    })

    function showInfoIdeas() {
      $.ajax({
        url: '<%= set_cookie_pages_path(cookie: IdeasController::SHOW_INFO_MY_IDEAS) %>', dataType: 'json'
      });
    }
  </script>

  <script type="text/javascript" charset="utf-8">
    //remove pulse after 3 seconds
    setTimeout(function(){ $('#btn-add-idea').removeClass('pulse3'); }, 3000);
  </script>
<% end %>