<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Idea category:</strong>
  <%= @idea.categories.map{|c| c.name} %>
</p>

<p>
  <strong>Status:</strong>
  <%= @idea.status %>
</p>

<p>
  <strong>Possibility reward:</strong>
  <%= @idea.possibility_reward %>
</p>

<p>
  <strong>Possibility business:</strong>
  <%= @idea.possibility_business %>
</p>
