<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <h2 class="h3 mb-4 page-title">Configurações</h2>
      <div class="my-4">
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Perfil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#security" role="tab" aria-controls="profile" aria-selected="false">Avançadas</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "needs-validation", novalidate: '' }) do |f| %>
              <div class="row mt-5 align-items-center">
                <div class="col-md-3 text-center mb-5">
                  <div class="avatar avatar-xl crop">
                    <%= image_tag current_user.get_url_img, class: 'avatar-img rounded-circle', style: 'background-color: white;', height: 90, width: 100 %>
                  </div>
                </div>
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-md-7">
                      <h4 class="mb-1"><%= resource.name %></h4>
                      <!--                  <p class="small mb-3"><span class="badge badge-dark">New York, USA</span></p>-->
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-7">
                      <p class="text-muted"> <%= resource.biography %> </p>
                    </div>
                    <div class="col">
                      <p class="small mb-0 text-muted"> <%= resource.email %> </p>
                      <!--                  <p class="small mb-0 text-muted">P.O. Box 464, 5975 Eget Avenue</p>-->
                      <p class="small mb-0 text-muted"> <%= resource.telephone %> </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">

              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', required: true %>
                <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control', required: true %>
                  <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :telephone %>
                  <%= f.text_field :telephone, class: 'form-control', maxlength: 14, required: true, "data-placeholder": "(__) _ ____-____", "data-mask": "(00) 0 0000-0000", autocomplete: "off", placeholder: "(__) _ ____-____" %>
                  <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
                </div>
              </div>

              <!--          <div class="form-group">-->
              <!--            <label for="inputAddress5">Address</label>-->
              <!--            <input type="text" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue">-->
              <!--          </div>-->

              <div class="form-row">
                <div class="form-group col-md-12">
                  <%= f.label :biography %>
                  <p class="small text-muted mb-2"> <%= t 'texts.devise.biography_description' %> </p>
                  <%= f.text_area :biography, class: 'form-control', rows: 4, required: true %>
                  <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <h5 class="mb-2 mt-5">Imagem</h5>
                  <%= f.label :link_or_image, class: 'mr-2' %>

                  <% User.link_or_img.options.each do |type| %>
                    <%= f.radio_button :link_or_img, type.last, class: 'form-check form-check-inline mr-0', checked: type.last == resource.link_or_img_value_default, id: type.last %>
                    <%= f.label :link_or_img, type.first, value: type.last, class: 'mr-3', for: type.last %>
                  <% end %>

                  <div id="div-link">
                    <%= f.text_field :img_link, class: 'form-control', placeholder: 'http://www.sefaz2.to.gov.br/...' %>
                  </div>
                  <div id="div-img" style="display: none">
                    <div class="custom-file">
                      <%= f.file_field :img, class: "custom-file-input", direct_upload: true %>
                      <%= f.label :img, resource.img.blob ? resource.img.blob.filename : 'Selecione a imagem', class: 'custom-file-label' %>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="my-4">
              <div class="row mb-4 ">
                <div class="col-md-6">

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :password %>
                    <div class="small text-muted">Deixe em branco se não quiser alterá-lo</div>
                    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', minlength: 6 %>
                    <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
                    <div class="valid-feedback"> <%= t 'texts.looks_good' %> </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', minlength: 6 %>
                    <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
                    <div class="valid-feedback"> <%= t 'texts.looks_good' %> </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :current_password %>
                    <div class="small text-muted">Precisamos de sua senha atual para confirmar suas alterações</div>
                    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', required: true, minlength: 6 %>
                    <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
                    <div class="valid-feedback"> <%= t 'texts.looks_good' %> </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <p class="mb-2"><%= t 'texts.devise.password_requirements' %></p>
                  <p class="small text-muted mb-2"> <%= t 'texts.devise.requirements_to_create_password' %>: </p>
                  <ul class="small text-muted pl-4 mb-0">
                    <% if @minimum_password_length %>
                      <li> Minimum <%= @minimum_password_length %> characters</li>
                    <% end %><br/>
                  </ul>

                </div>
              </div>

              <button type="submit" class="btn btn-primary">Salvar alterações</button>
            <% end %>
          </div>
          <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="card shadow mb-3 h-auto">
                  <div class="card-body py-3">

                    <div class="row align-items-center">
                      <div class="col-md-7 mb-2">

                        <p class="text-muted mb-2"> Apagar minha conta </p>
                        <ul class="small text-muted pl-4 mb-0">
                          <li>Todas os seus dados, incluído ideias cadastradas, serão permanetemente apagados</li>
                          <li>Essa é uma ação irreversível</li>
                        </ul>

                      </div>
                      <div class="col mb-2">
                        <%= link_to "Apagar minha conta", registration_path(resource_name), data: { confirm: t('notice.are_you_sure') }, method: :delete, class: 'btn mb-2 btn-outline-danger' %>
                      </div>
                    </div>


                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <!--        <form>-->

      </div>
    </div>
  </div>
</div>
<% content_for :footer do %>
  <script>
    $(document).ready(function () {
      toggleLinkImg();

      $('input[name="user[link_or_img]"]').click(function () {
        toggleLinkImg();
      })

      function toggleLinkImg() {
        const valor = $('input[name="user[link_or_img]"]:checked').val()
        if (valor === 'link') {
          $('#div-img').hide()
          $('#div-link').fadeIn(500)
        } else {
          $('#div-link').hide()
          $('#div-img').fadeIn(500)
        }
      }
    })
  </script>
<% end %>