<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col-lg-6 col-md-8 col-10 mx-auto needs-validation", novalidate: '' }) do |f| %>
  <div class="mx-auto text-center my-4">
    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="<%= root_path %>">
      <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
        <g>
          <polygon class="st0" points="78,105 15,105 24,87 87,87 	"></polygon>
          <polygon class="st0" points="96,69 33,69 42,51 105,51 	"></polygon>
          <polygon class="st0" points="78,33 15,33 24,15 87,15 	"></polygon>
        </g>
      </svg>
    </a>
    <h2 class="my-3"><%= t 'texts.register' %></h2>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Coloque aqui o seu melhor e-mail' %>
    <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, class: 'required' %>
      <%= f.text_field :name, class: 'form-control', required: true, placeholder: 'Seu nome completo' %>
      <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :telephone, class: 'required' %>
      <%= f.text_field :telephone, class: 'form-control', maxlength: 14, required: true, "data-placeholder": "(__) _ ____-____", "data-mask": "(00) 0 0000-0000", autocomplete: "off", placeholder: "(__) _ ____-____" %>
      <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :biography, class: 'required' %>
      <p class="small text-muted mb-2"> <%= t 'texts.devise.biography_description' %> </p>
      <%= f.text_area :biography, class: 'form-control', rows: 4, required: true %>
      <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <h6 class="mb-2">Foto de perfil</h6>
      <%= f.label :link_or_image, class: 'mr-2' %>

      <% User.link_or_img.options.each do |type| %>
        <%= f.radio_button :link_or_img, type.last, class: 'form-check form-check-inline mr-0', checked: type.last == resource.link_or_img_value_default, id: type.last %>
        <%= f.label :link_or_img, type.first, value: type.last, class: 'mr-3', for: type.last %>
      <% end %>

      <div id="div-link">
        <%= f.text_field :img_link, class: 'form-control', placeholder: 'Link para a imagem' %>
      </div>
      <div id="div-img" style="display: none">
        <div class="custom-file">
          <%= f.file_field :img, class: "custom-file-input", direct_upload: true %>
          <%= f.label :img, resource.img.blob ? resource.img.blob.filename : 'Selecione a imagem', class: 'custom-file-label' %>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :password, class: 'required' %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true, minlength: 6 %>
        <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
        <div class="valid-feedback"> <%= t 'texts.looks_good' %> </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'required' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true, minlength: 6 %>
        <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
        <div class="valid-feedback"> <%= t 'texts.looks_good' %> </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="mb-2"><%= t 'texts.devise.password_requirements' %></p>
      <p class="small text-muted mb-2"> <%= t 'texts.devise.requirements_to_create_password' %>: </p>
      <ul class="small text-muted pl-4 mb-0">
        <% if @minimum_password_length %>
          <li>Mínimo <%= @minimum_password_length %> characters</li>
        <% end %><br/>
        <!--        <li>At least one special character</li>-->
        <!--        <li>At least one number</li>-->
        <!--        <li>Can’t be the same as a previous password </li>-->
      </ul>
    </div>


  </div>


  <hr class="my-4">
  <div class="row mb-4">
    <div class="col-md-12">

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation16" required="">
        <label class="custom-control-label" for="customControlValidation16">
          Li e aceito as <a href="<%= terms_of_use_pages_path %>" target="_blank">políticas e condições</a> de uso da aplicação. <span class="text-danger">*</span>
        </label>
        <div class="invalid-feedback"> Você deve confirmar antes de enviar</div>
      </div>

    </div>
  </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t 'buttons.save' %></button>
  <p class="mt-5 mb-3 text-muted text-center">©TccProduto. 2021</p>
<% end %>
<% content_for :footer do %>
  <script>
    $(document).ready(function () {
      toggleLinkImg();

      $('input[name="user[link_or_img]"]').click(function () {
        toggleLinkImg();
      })

      function toggleLinkImg() {
        const valor = $('input[name="user[link_or_img]"]:checked').val()
        if (valor === 'link') {
          $('#div-img').hide()
          $('#div-link').fadeIn(500)
        } else {
          $('#div-link').hide()
          $('#div-img').fadeIn(500)
        }
      }
    })
  </script>
<% end %>