<!--<h2>Sign upK</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <%#= f.password_field :password, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>

<!--<form class="col-lg-6 col-md-8 col-10 mx-auto">-->

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col-lg-6 col-md-8 col-10 mx-auto needs-validation", novalidate: nil }) do |f| %>
  <div class="mx-auto text-center my-4">
    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="<%= root_path %>">
      <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
        <g>
          <polygon class="st0" points="78,105 15,105 24,87 87,87 	"></polygon>
          <polygon class="st0" points="96,69 33,69 42,51 105,51 	"></polygon>
          <polygon class="st0" points="78,33 15,33 24,15 87,15 	"></polygon>
        </g>
      </svg>
    </a>
    <h2 class="my-3"><%= t 'texts.register' %></h2>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'%>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :telephone %>
      <%= f.text_field :telephone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :biography %>
      <p class="small text-muted mb-2"> <%= t 'texts.devise.biography_description' %> </p>
      <%= f.text_area :biography, class: 'form-control', rows: 4 %>
    </div>
  </div>

  <hr class="my-4">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'  %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="mb-2"><%= t 'texts.devise.password_requirements' %></p>
      <p class="small text-muted mb-2"> <%= t 'texts.devise.requirements_to_create_password' %>: </p>
      <ul class="small text-muted pl-4 mb-0">
        <% if @minimum_password_length %>
          <li> Minimum <%= @minimum_password_length %> characters </li>
        <% end %><br />
<!--        <li>At least one special character</li>-->
<!--        <li>At least one number</li>-->
<!--        <li>Can’t be the same as a previous password </li>-->
      </ul>
    </div>


  </div>


  <hr class="my-4">
  <div class="row mb-4">
    <div class="col-md-12">

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation16" required="">
        <label class="custom-control-label" for="customControlValidation16"> Eu concordo com os <a href="#">termos de uso</a> e as
          <a href="">políticas de privacidade</a>.</label>
        <div class="invalid-feedback"> You must agree before submitting. </div>
      </div>

    </div>
  </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t 'buttons.save' %></button>
  <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
<!--</form>-->
<% end %>