<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |users| %>
      <tr>
        <td><%= users.name %></td>
        <td><%= link_to 'Show', users %></td>
        <td><%= link_to 'Edit', edit_user_path(users) %></td>
        <td><%= link_to 'Destroy', users, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
