<% title t('activerecord.models.users') %>
<% content_for :page_actions do %>
  <a class="btn btn-primary" href="<%= new_user_path %>"><span class="fe fe-plus-circle fe-12 mr-2"></span><%= t 'buttons.add' %>
  </a>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <% if @users.length == 0 and !params[:q].present? %>
        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow">
              <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                <h6 class="">Não há itens cadastrados.</h6>
              </div>
            </div>
          </div>
        </div>
      <% else %>


        <%= search_form_for @q, url: users_path do |f| %>
          <div class="row my-4">
            <div class="col-md-6">

              <div class="input-group mb-3">
                <%= f.text_field :name_or_email_cont, class: 'form-control', placeholder: "Nome ou email" %>
                <div class="input-group-append">
                  <button class="btn btn-light" type="submit">
                    <span class="fe fe-search fe-16 text-muted"></span>
                  </button>
                </div>
              </div>

            </div>

            <div class="col-md-auto ml-auto text-right">
              <% if params[:q].present? %>
              <span class="small bg-white border py-1 px-2 rounded mr-2">
                    <a href="<%= users_path %>" class="text-muted"><i class="fe fe-x"></i></a>
                    <a href="#" class="text-muted ml-2"><span class="">Filtrado</span></a>
                  </span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <% if @users.count == 0 %>
              <div class="card shadow">
                <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                  <h6 class="">Nenhum item correspondente encontrado.</h6>
                </div>
              </div>
            <% else %>
              <table class="table border table-hover bg-white table-sm">
                <thead>
                <tr role="row">
                  <th width="40%"><%= t 'activerecord.attributes.user.name' %></th>
                  <th width="30%"><%= t 'activerecord.attributes.user.profile_ids' %></th>
                  <th width="20%"><%= t 'activerecord.attributes.user.email' %></th>
                  <!--                  <th width="20%"><%#= t 'activerecord.attributes.user.telephone' %></th>-->
                  <th width="10%" class="right">Ação</th>
                </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><a href="<%= user_path user %>"><strong><%= truncate user.name %></strong></a></td>
                    <td><%= user.profiles.map(&:name).join(', ') %></td>
                    <td><%= user.email %></td>
                    <!--                    <td><%#= user.telephone %></td>-->

                    <td>
                      <div class="links-table">
                        <a href="<%= user_path user %>" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.show' %>">
                          <span class="fe fe-eye fe-16 mr-2"></span>
                        </a>
                        <a href="<%= edit_user_path user %>" class="text-success-darker" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.edit' %>">
                          <span class="fe fe-edit fe-16 mr-2"></span>
                        </a>
                        <% if user.registered_by.present? and user.id != current_user.id %>
                          <a class="sw-delete text-danger" onclick="set_id('<%= user.id %>', '<%= user.class.to_s.split(':')[0] %>')" target="_self" href="#" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.destroy' %>">
                            <span class="fe fe-trash fe-16 mr-2"></span>
                          </a>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <%= paginate @users %>

            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>