<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <div class="row align-items-center my-4">
        <div class="col">
          <h2 class="h3 mb-0 page-title"><%= t 'activerecord.models.idea_categories' %></h2>
        </div>
        <div class="col-auto">
          <a href="<%= new_idea_category_path %>" class="btn btn-primary"><span class="fe fe-plus-circle fe-12 mr-2"></span>Adicionar</a>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <% @idea_categories.each do |idea_category| %>
              <tr>
                <td><strong><%= idea_category.name %></strong></td>
                <td>
                  <% if idea_category.status.active? %>
                    <!--                  <span class="text-primary">Ativo</span>-->
                    <span class="text-success">Ativo</span>
                  <% else %>
                    <span class="text-danger">Inativo</span>
                    <!--                  <span class="text-danger">Inativo</span>-->
                  <% end %>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="text-muted sr-only">Action</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr<%= idea_category.id %>">
                      <a class="dropdown-item" href="<%= edit_idea_category_path idea_category %>">Editar</a>
                      <a class="dropdown-item" href="<%= toggle_status_idea_category_path idea_category %>">
                        <% if idea_category.status.active? %>
                          <span class="text-danger">Inativar</span>
                        <% else %>
                          <span class="text-success">Ativar</span>
                        <% end %>
                      </a>
                      <% if idea_category.ideas.count == 0 %>
                        <%= link_to 'Excluir', idea_category, method: :delete, data: { confirm: t('notice.are_you_sure') }, class: 'dropdown-item bg-danger-dark' %>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>

            </tr>

            </tbody>
          </table>








        </div>
      </div>

      <!--      <nav aria-label="Table Paging" class="my-3">-->
      <!--        <ul class="pagination justify-content-end mb-0">-->
      <!--          <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
      <!--          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
      <!--          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
      <!--          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
      <!--          <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
      <!--        </ul>-->
      <!--      </nav>-->

      <!--      <nav aria-label="Table Paging" class="my-3">-->
      <%= paginate @idea_categories %>
      <!--      </nav>-->

    </div>
  </div>
</div>
