<% title t('activerecord.models.idea_categories') %>
<% content_for :page_actions do %>
  <a href="<%= new_idea_category_path %>" class="btn btn-primary"><span class="fe fe-plus-circle fe-12 mr-2"></span>Adicionar</a>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <hr class="mb-4 mt-0">
      <p class="mb-4">Lista de categorias que irá aparecer no momento de
        cadastrar uma ideia.</p>
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Imagem</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <% @idea_categories.each do |idea_category| %>
              <tr>
                <td><strong><%= idea_category.name %></strong></td>
                <td>
                  <a href="<%= idea_category.get_url_img %>" target="_blank">
                    <%= image_tag idea_category.get_url_img, class: 'avatar-img rounded-circle', style: 'background-color: white;', width: 50, height: 50 %>
                  </a>
                </td>
                <td>
                  <% if idea_category.status.active? %>
                    <!--                  <span class="text-primary">Ativo</span>-->
                    <span class="text-success">Ativo</span>
                  <% else %>
                    <span class="text-danger">Inativo</span>
                    <!--                  <span class="text-danger">Inativo</span>-->
                  <% end %>
                </td>
                <td>
                  <div class="links-table">
                    <a href="<%= edit_idea_category_path idea_category %>" class="text-success-darker" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.edit' %>">
                      <span class="fe fe-edit fe-16 mr-2"></span>
                    </a>

                    <a href="<%= toggle_status_idea_category_path idea_category %>" data-toggle="tooltip" data-placement="top" title="<%= idea_category.status.active? ? t('buttons.deactivate') : t('buttons.activate') %>">
                      <% if idea_category.status.active? %>
                        <span class="text-danger fe fe-x fe-16 mr-2"></span>
                      <% else %>
                        <span class="text-success fe fe-check fe-16 mr-2"></span>
                      <% end %>
                    </a>

                    <% if idea_category.ideas.count == 0 %>
                      <a class="sw-delete text-danger" onclick="set_id('<%= idea_category.id %>', '<%= idea_category.class.to_s.split(':')[0] %>')" target="_self" href="#" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.destroy' %>">
                        <span class="fe fe-trash fe-16 mr-2"></span>
                      </a>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>

            </tr>

            </tbody>
          </table>


        </div>
      </div>

      <!--      <nav aria-label="Table Paging" class="my-3">-->
      <!--        <ul class="pagination justify-content-end mb-0">-->
      <!--          <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
      <!--          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
      <!--          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
      <!--          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
      <!--          <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
      <!--        </ul>-->
      <!--      </nav>-->

      <!--      <nav aria-label="Table Paging" class="my-3">-->
      <%= paginate @idea_categories %>
      <!--      </nav>-->

    </div>
  </div>
</div>
