<% title t('activerecord.models.teachers') %>
<% content_for :page_actions do %>
  <a href="<%= new_teacher_path %>" class="btn btn-primary"><span class="fe fe-plus-circle fe-12 mr-2"></span>Adicionar</a>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <hr class="mb-4 mt-0">
      <p class="mb-4">Lista de docentes que irá aparecer no momento de cadastrar trabalhos acadêmicos.</p>
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <% @teachers.each do |teacher| %>
              <tr>
                <td><strong><%= teacher.name %></strong></td>
                <td>
                  <% if teacher.status.active? %>
                    <span class="text-success">Ativo</span>
                  <% else %>
                    <span class="text-danger">Inativo</span>
                  <% end %>
                </td>
                <td>
                  <div class="links-table">

                    <a href="<%= edit_teacher_path teacher %>" class="text-success-darker" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.edit' %>">
                      <span class="fe fe-edit fe-16 mr-2"></span>
                    </a>

                    <a href="<%= toggle_status_teacher_path teacher %>" data-toggle="tooltip" data-placement="top" title="<%= teacher.status.active? ? t('buttons.deactivate') : t('buttons.activate') %>">
                      <% if teacher.status.active? %>
                        <span class="text-danger fe fe-x fe-16 mr-2"></span>
                      <% else %>
                        <span class="text-success fe fe-check fe-16 mr-2"></span>
                      <% end %>
                    </a>

                    <% if teacher.academic_works_count == 0 %>
                      <a class="sw-delete text-danger" onclick="set_id('<%= teacher.id %>', '<%= teacher.class.to_s.split(':')[0] %>')" target="_self" href="#" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.destroy' %>">
                        <span class="fe fe-trash fe-16 mr-2"></span>
                      </a>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @teachers %>
    </div>
  </div>
</div>