<% title t('activerecord.models.courses') %>
<% content_for :page_actions do %>
  <a href="<%= new_course_path %>" class="btn btn-primary"><span class="fe fe-plus-circle fe-12 mr-2"></span>Adicionar</a>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <hr class="mb-4 mt-0">
      <p class="mb-4">Lista de cursos que irá aparecer no momento de cadastrar trabalhos acadêmicos.</p>
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
            </thead>
            <tbody>
              <% @courses.each do |course| %>
              <tr>
                <td><strong><%= course.name %></strong></td>
                <td>
                  <% if course.status.active? %>
                    <span class="text-success">Ativo</span>
                  <% else %>
                    <span class="text-danger">Inativo</span>
                  <% end %>
                </td>
                <td>
                  <div class="links-table">

                    <a href="<%= edit_course_path course %>" class="text-success-darker" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.edit' %>">
                      <span class="fe fe-edit fe-16 mr-2"></span>
                    </a>

                    <a href="<%= toggle_status_course_path course %>" data-toggle="tooltip" data-placement="top" title="<%= course.status.active? ? t('buttons.deactivate') : t('buttons.activate') %>">
                      <% if course.status.active? %>
                        <span class="text-danger fe fe-x fe-16 mr-2"></span>
                      <% else %>
                        <span class="text-success fe fe-check fe-16 mr-2"></span>
                      <% end %>
                    </a>

                    <% if course.academic_works_count == 0 %>
                      <a class="sw-delete text-danger" onclick="set_id('<%= course.id %>', '<%= course.class.to_s.split(':')[0] %>')" target="_self" href="#" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.destroy' %>">
                        <span class="fe fe-trash fe-16 mr-2"></span>
                      </a>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>

            </tr>

            </tbody>
          </table>








        </div>
      </div>

<!--      <nav aria-label="Table Paging" class="my-3">-->
<!--        <ul class="pagination justify-content-end mb-0">-->
<!--          <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--        </ul>-->
<!--      </nav>-->

<!--      <nav aria-label="Table Paging" class="my-3">-->
        <%= paginate @courses %>
<!--      </nav>-->

    </div>
  </div>
</div>