<!--<div class="row">-->
<!--  <div class="col-md-12 my-4">-->
<!--    <div class="card shadow">-->
<!--      <div class="card-body">-->
<!--        <div class="row align-items-center">-->
<!--          <div class="col">-->
<!--            <h2 class="h3 mb-0 page-title">Cursos</h2>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <a href="<%#= new_course_path %>" class="btn btn-primary"><span class="fe fe-plus-circle fe-16"></span> Adicionar</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="card-text">Lista de cursos que irão aparecer durante o cadastramento dos trabalhos acadêmicos.</p>-->


<!--        <table class="table table-hover table-sm">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Nome</th>-->
<!--            <th>Status</th>-->
<!--            <th>Ação</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
          <%# @courses.each do |course| %>
<!--            <tr>-->
<!--              <td><%#= course.name %></td>-->
<!--              <td>-->
                <%# if course.status.active? %>
<!--                  <span class="badge badge-pill badge-primary">Ativo</span>-->
                <%# else %>
<!--                  <span class="badge badge-pill badge-danger">Inativo</span>-->
                <%# end %>
<!--              </td>-->
<!--              <td>-->
<!--                <div class="dropdown">-->
<!--                  <button class="btn btn-sm dropdown-toggle" type="button" id="dr<%#= course.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <span class="text-muted sr-only">Action</span>-->
<!--                  </button>-->
<!--                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr<%#= course.id %>">-->
<!--                    <a class="dropdown-item" href="<%#= edit_course_path course %>">Editar</a>-->
<!--                    <a class="dropdown-item" href="<%#= toggle_status_course_path course %>">-->
                      <%# if course.status.active? %>
<!--                        <span class="text-danger">Inativar</span>-->
                      <%# else %>
<!--                        <span class="text-primary">Ativar</span>-->
                      <%# end %>
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
          <%# end %>
<!--          </tbody>-->
<!--        </table>-->
<!--        <nav aria-label="Table Paging" class="my-3">-->
<!--          <ul class="pagination justify-content-end mb-0">-->
<!--            <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <div class="row align-items-center my-4">
        <div class="col">
          <h2 class="h3 mb-0 page-title">Cursos</h2>
        </div>
        <div class="col-auto">
          <a href="<%= new_course_path %>" class="btn btn-primary"><span class="fe fe-plus-circle fe-12 mr-2"></span>Adicionar</a>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
            </thead>
            <tbody>
              <% @courses.each do |course| %>
              <tr>
                <td><strong><%= course.name %></strong></td>
                <td>
                  <% if course.status.active? %>
                    <span class="text-success">Ativo</span>
                  <% else %>
                    <span class="text-danger">Inativo</span>
                  <% end %>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="text-muted sr-only">Action</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr<%= course.id %>">
                      <a class="dropdown-item" href="<%= edit_course_path course %>">Editar</a>
                      <a class="dropdown-item" href="<%= toggle_status_course_path course %>">
                        <% if course.status.active? %>
                          <span class="text-danger">Inativar</span>
                        <% else %>
                          <span class="text-success">Ativar</span>
                        <% end %>
                      </a>
                      <% if course.academic_works_count == 0 %>
                        <%= link_to 'Excluir', course, method: :delete, data: { confirm: t('notice.are_you_sure') }, class: 'dropdown-item bg-danger-dark' %>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>

            </tr>

            </tbody>
          </table>








        </div>
      </div>

<!--      <nav aria-label="Table Paging" class="my-3">-->
<!--        <ul class="pagination justify-content-end mb-0">-->
<!--          <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--        </ul>-->
<!--      </nav>-->

<!--      <nav aria-label="Table Paging" class="my-3">-->
        <%= paginate @courses %>
<!--      </nav>-->

    </div>
  </div>
</div>


