<%= form_with(model: academic_work, multipart: true ) do |form| %>

  <% if academic_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(academic_work.errors.count, "error") %> prohibited this academic_work from being saved:</h2>

      <ul>
        <% academic_work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--  <div class="field">-->
  <%#= form.label :title %>
  <%#= form.text_field :title %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :author %>
  <%#= form.text_field :author %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :summary %>
  <%#= form.text_field :summary %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :course %>
  <%#= form.text_field :course %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :defense_date %>
  <%#= form.date_select :defense_date %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :document %>
  <%#= form.text_field :document %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :document_link %>
  <%#= form.text_field :document_link %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :type %>
  <%#= form.text_field :type %>
  <!--  </div>-->

  <!--  <fieldset class="form-group">-->
  <!--    <div class="row">-->
  <!--      <label class="col-form-label col-sm-3 pt-0">Tipo</label>-->
  <!--      <div class="col-sm-9">-->
  <%# AcademicWork.work_type.options.each do |type| %>
  <%#= form.radio_button :work_type, type.last, class: 'form-check form-check-inline', checked: type.last == 'tcc' %>
  <%#= form.label :work_type, type.first, value: type.last, class: 'mr-3' %>
  <%# end %>
  <!--      </div>-->
  <!--    </div>-->
  <!--  </fieldset>-->

  <!--  <div class="field">-->
  <%#= form.label :keyword %>
  <%#= form.text_field :keyword %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :how_to_quote %>
  <%#= form.text_field :how_to_quote %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <%#= form.label :appraisers %>
  <%#= form.text_field :appraisers %>
  <!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :document, class: 'mb-0' %>
    <%#= form.file_field :document,placeholder: 'Documento', direct_upload: true %>
<!--  </div>-->

  <!--  <div class="actions">-->
  <%#= form.submit %>
  <!--  </div>-->
<%# end %>


  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <div class="row align-items-center my-4">
          <div class="col">
            <h2 class="h3 mb-0 page-title">Trabalho acadêmico</h2>
          </div>
          <!--          <div class="col-auto">-->
          <!--            <button type="button" class="btn btn-primary">Savar</button>-->
          <!--          </div>-->
        </div>
        <form>
          <hr class="my-4">
          <h5 class="mb-2 mt-4">Sobre o trabalho</h5>
          <p class="mb-4">Informações básicas sobre o trabalho</p>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :author %>
              <%= form.text_field :author, class: 'form-control' %>
              <small>Use o <strong class="text-primary">;</strong> como separador.</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :defense_date %>
              <%= form.text_field :defense_date, class: 'form-control input-placeholder', placeholder: "__/__/____", maxlength: "10" %>
            </div>
            <div class="form-group col-md-4">
              <%= form.label :course_id, class: 'required' %>
              <%= form.select :course_id, Course.active.map { |r| [r.name, r.id] }, { include_blank: 'Selecione...' }, { class: 'form-control' } %>
            </div>
            <div class="form-group col-md-4">
              <%= form.label :teacher_id, class: 'required' %>
              <%= form.select :teacher_id, Teacher.all.map { |r| [r.name, r.id] }, { include_blank: 'Selecione...' }, { class: 'form-control' } %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :work_type %> <br>
              <% AcademicWork.work_type.options.each do |type| %>
                <%= form.radio_button :work_type, type.last, class: 'form-check form-check-inline', checked: type.last == 'tcc', id: type.last %>
                <%= form.label :work_type, type.first, value: type.last, class: 'mr-3', for: type.last %>
              <% end %>
            </div>
            <div class="form-group col-md-8">
              <%= form.label :keyword, class: 'required' %>
              <%= form.text_field :keyword, class: 'form-control' %>
              <small>Use o <strong class="text-primary">;</strong> como separador.</small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= form.label :summary %>
              <%= form.text_area :summary, class: 'form-control', rows: 4 %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :how_to_quote %>
              <%= form.text_area :how_to_quote, class: 'form-control', rows: 3 %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :appraisers %>
              <small>(Nome dos avaliadores)</small>
              <%= form.text_area :appraisers, class: 'form-control', rows: 3 %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <%= form.label :document %>
              <div class="custom-file">
                <input name="academic_work[document]" type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Selecione o arquivo</label>
              </div>
            </div>
          </div>


          <hr class="my-4">
          <div class="form-row">
            <!--            <div class="col-md-6">-->
            <!--              <div class="custom-control custom-switch">-->
            <!--                <input type="checkbox" class="custom-control-input" id="customPass" checked="">-->
            <!--                <label class="custom-control-label" for="customPass">Create account and email generated password</label>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Savar</button>
            </div>
          </div>
        </form>
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div>


<!--  <div class="actions">-->
    <%#= form.submit %>
<!--  </div>-->
<% end %>