<%= form_with(model: academic_work, multipart: true, html: { class: "needs-validation", novalidate: '' }) do |form| %>

  <% if academic_work.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= t 'texts.solve_the_following_problems' %>:
      </h5>
      <ul>
        <% academic_work.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <h2 class="mb-2 mt-4"><%= t 'activerecord.models.academic_work' %></h2>
        <p class="mb-4">Informações básicas sobre o trabalho</p>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :title %>
            <%= form.text_field :title, class: 'form-control', required: true %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :author %>
            <%= form.text_field :author, class: 'form-control', required: true %>
            <small>Use o <strong class="text-primary">;</strong> como separador.</small>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <%= form.label :defense_date %>
            <%= form.text_field :defense_date, class: 'form-control input-placeholder', placeholder: "__/__/____", maxlength: "10", required: true %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>
          <div class="form-group col-md-4">
            <%= form.label :course_id %>
            <%= form.select :course_id, Course.active.map { |r| [r.name, r.id] }, { include_blank: 'Selecione...' }, { class: 'form-control', required: true } %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>
          <div class="form-group col-md-4">
            <%= form.label :teacher_id %>
            <%= form.select :teacher_id, Teacher.all.map { |r| [r.name, r.id] }, { include_blank: 'Selecione...' }, { class: 'form-control', required: true } %>
            <div class="invalid-feedback"> <%= t 'texts.fill_this_field' %> </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <%= form.label :work_type %> <br>
            <% AcademicWork.work_type.options.each do |type| %>
              <%= form.radio_button :work_type, type.last, class: 'form-check form-check-inline', checked: type.last == 'tcc', id: type.last %>
              <%= form.label :work_type, type.first, value: type.last, class: 'mr-3', for: type.last %>
            <% end %>
          </div>
          <div class="form-group col-md-8">
            <%= form.label :keyword %>
            <%= form.text_field :keyword, class: 'form-control' %>
            <small>Use o <strong class="text-primary">;</strong> como separador.</small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= form.label :summary %>
            <%= form.text_area :summary, class: 'form-control', rows: 4, required: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :how_to_quote %>
            <%= form.text_area :how_to_quote, class: 'form-control', rows: 3 %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :appraisers %>
            <small>(Nome dos avaliadores)</small>
            <%= form.text_area :appraisers, class: 'form-control', rows: 3 %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= form.label :document %>
            <div class="custom-file">
              <input name="academic_work[document]" type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Selecione o arquivo</label>
            </div>
          </div>
        </div>

        <hr class="my-4">
        <div class="form-row">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Savar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>