<%= content_for :alert do %>
  <% unless @show_info %>
    <div class="col-md-12 col-sm-12 alert alert-warning alert-dismissible fade show" role="alert">
      <div class="row">
        <div class="col-md-6">
          <span class="h4" style="color: #7c5502">
            Veja os trabalhos academicos que mais se destacaram por sua inovação/empreendedorismo!<br><br><br><br>
          </span>
          Porque colocá-los aqui? <br>
          <span class="text-success-darker">
            Para dar mais visibilidade a eles. <br>Almentar as chances de se tornarem produtos/serviços.
          </span>
        </div>
        <div class="col-md-6 text-center">
          <img src="/img/juntos.png" width="300px" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <button type="button" class="close" onclick="showInfoIdeas();" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>

<% title t 'activerecord.models.academic_works' %>
<% content_for :page_actions do %>
  <a class="btn btn-primary" href="/academic_works/new">
    <span class="fe fe-plus-circle fe-12 mr-2"></span>
    Adicionar
  </a>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <p style="margin-top: -10px"></p>

      <% if @academic_works.length == 0 and !params[:q].present? %>
        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow">
              <div class="card-body my-4 align-items-center h-100 row justify-content-center">
                <h6 class="">Não há itens cadastrados.</h6>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row align-items-center my-4">
          <div class="col-md-6">
            <!--          <div id="chart-box">-->
            <!--            <div id="donutChartWidget"></div>-->
            <!--          </div>-->
            <canvas id="chart"></canvas>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center my-2">
              <div class="col">
                <strong>TCC</strong><br/>
                <span class="my-0 text-muted small"><%= @persent_tcc %>%</span>
              </div>
              <div class="col-auto">
                <strong class="my-0"><%= @qtd_tcc %></strong>
              </div>
              <div class="col-3">
                <div class="progress" style="height: 4px;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: <%= @persent_tcc %>%" aria-valuenow="<%= @persent_tcc %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row align-items-center my-2">
              <div class="col">
                <strong>Pesquisa</strong><br/>
                <span class="my-0 text-muted small"><%= @persent_search %>%</span>
              </div>
              <div class="col-auto">
                <strong><%= @qtd_search %></strong>
              </div>
              <div class="col-3">
                <div class="progress" style="height: 4px;">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: <%= @persent_search %>%" aria-valuenow="<%= @persent_search %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row align-items-center my-2">
              <div class="col">
                <strong>Extensão</strong>
                <div class="my-0 text-muted small"><%= @persent_extention %>%</div>
              </div>
              <div class="col-auto">
                <strong><%= @qtd_extension %></strong>
              </div>
              <div class="col-3">
                <div class="progress" style="height: 4px;">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @persent_extention %>%" aria-valuenow="<%= @persent_extention %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= search_form_for @q do |f| %>
          <%= f.hidden_field :work_type_eq %>

          <div class="row items-align-center my-4">
            <div class="col-md">
              <ul class="nav nav-pills justify-content-start">
                <li class="nav-item">
                  <% item_selected = (params[:q].nil? or !params[:q][:work_type_eq].present?) %>
                  <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= academic_works_path %>">Todos
                    <span class="badge badge-pill bg-primary text-white ml-2 <%= item_selected ? 'bg-primary text-white' : 'bg-white text-muted' %>"><%= @qtd_all %></span></a>
                </li>
                <li class="nav-item">
                  <% item_selected = (params[:q].present? and params[:q][:work_type_eq].present? and params[:q][:work_type_eq].eql? 'tcc') %>
                  <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= academic_works_path(q: { work_type_eq: 'tcc' }) %>">TCC
                    <span class="badge badge-pill ml-2 <%= item_selected ? 'bg-primary text-white' : 'bg-white text-muted' %>"><%= @qtd_tcc %></span></a>
                </li>
                <li class="nav-item">
                  <% item_selected = (params[:q].present? and params[:q][:work_type_eq].present? and params[:q][:work_type_eq].eql? 'search') %>
                  <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= academic_works_path(q: { work_type_eq: 'search' }) %>">Pesquisa
                    <span class="badge badge-pill ml-2 <%= item_selected ? 'bg-primary text-white' : 'bg-white text-muted' %>"><%= @qtd_search %></span></a>
                </li>
                <li class="nav-item">
                  <% item_selected = (params[:q].present? and params[:q][:work_type_eq].present? and params[:q][:work_type_eq].eql? 'extension') %>
                  <a class="nav-link <%= item_selected ? 'bg-transparent px-2 text-primary' : 'text-muted px-2' %>" href="<%= academic_works_path(q: { work_type_eq: 'extension' }) %>">Extensão
                    <span class="badge badge-pill ml-2 <%= item_selected ? 'bg-primary text-white' : 'bg-white text-muted' %>"><%= @qtd_extension %></span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-auto ml-auto text-right">
              <% if params[:q].present? %>
              <span class="small bg-white border py-1 px-2 rounded mr-2">
                    <a href="<%= academic_works_path %>" class="text-muted"><i class="fe fe-x"></i></a>
                    <a href="#" data-toggle="modal" data-target=".modal-slide" class="text-muted ml-2"><span class="">Filtrado</span></a>
                  </span>
              <% end %>
              <button type="button" class="btn" data-toggle="modal" data-target=".modal-slide">
                <span class="fe fe-filter fe-16 text-muted"></span>
              </button>
              <!--          <button type="button" class="btn"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>-->
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <!-- table -->
            <table class="table border table-hover bg-white">
              <thead>
              <tr role="row">
                <th width="40%"><%= t 'activerecord.attributes.academic_work.title' %></th>
                <th><%= t 'activerecord.attributes.academic_work.course' %></th>
                <th><%= t 'activerecord.attributes.academic_work.author' %></th>
                <th><%= t 'activerecord.attributes.academic_work.teacher_id' %></th>
                <th><%= t 'activerecord.attributes.academic_work.defense_date' %></th>
                <th><%= t 'activerecord.attributes.academic_work.work_type' %></th>
                <th>Ação</th>
              </tr>
              </thead>
              <tbody>
              <% @academic_works.each do |academic_work| %>
                <tr>
                  <td width="40%" class="toast-large">
                    <a href="<%= academic_work_path academic_work %>" data-toggle="" data-placement="right" title="<%= academic_work.title %>">
                      <strong><%= truncate(academic_work.title, length: 120) %></strong>
                    </a>
                  </td>
                  <td><%= truncate academic_work.course.name %></td>
                  <td><%= truncate academic_work.author %></td>
                  <td><%= truncate academic_work.teacher.name %></td>
                  <td><%= academic_work.defense_date %></td>
                  <td>
                    <% if academic_work.work_type.tcc? %>
                      <span class="dot dot-lg mr-2" style="background-color: #3AD29F;"></span><%= academic_work.work_type_text %>
                    <% elsif academic_work.work_type.search? %>
                      <span class="dot dot-lg mr-2" style="background-color: #2C67FF;"></span><%= academic_work.work_type_text %>
                    <% else %>
                      <span class="dot dot-lg mr-2" style="background-color: #EFA302;"></span><%= academic_work.work_type_text %>
                    <% end %>
                  </td>
                  <td class="links-table">
                    <a href="<%= academic_work_path academic_work %>" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.show' %>">
                      <span class="fe fe-eye fe-16 mr-2"></span>
                    </a>
                    <a href="<%= edit_academic_work_path academic_work %>" class="text-success-darker" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.edit' %>">
                      <span class="fe fe-edit fe-16 mr-2"></span>
                    </a>
                    <a class="sw-delete text-danger" onclick="set_id('<%= academic_work.id %>', '<%= academic_work.class.to_s.split(':')[0] %>')" target="_self" href="#" data-toggle="tooltip" data-placement="top" title="<%= t 'buttons.destroy' %>">
                      <span class="fe fe-trash fe-16 mr-2"></span>
                    </a>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>

            <!--          <nav aria-label="Table Paging" class="my-3">-->
            <!--            <ul class="pagination justify-content-end mb-0">-->
            <!--              <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
            <!--              <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
            <!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--              <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            <!--            </ul>-->
            <!--          </nav>-->

            <%= paginate @academic_works %>

          </div>
        </div>

        <% content_for :busca do %>
          <%= search_form_for @q do |f| %>
            <div class="modal fade modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Filtros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="fe fe-x fe-12"></i>
                    </button>
                  </div>

                  <div class="modal-body">
                    <div class="p-2">
                      <div class="form-group my-4">
                        <p class="mb-2">
                          <strong>Pesquisa por termos</strong>
                        </p>
                        <div class="">
                          <%= f.text_field :title_or_author_or_summary_or_keyword_or_course_name_or_teacher_name_cont, class: 'form-control', placeholder: "Título, author, palavras-chave, resumo..." %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn mb-2 btn-primary btn-block">Filtrar</button>
                    <a href="<%= academic_works_path %>" class="btn mb-2 btn-secondary btn-block">Limpar</a>
                  </div>
                </div>
              </div>
            </div>


          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <script src="/templates/tinydash/light/js/d3.min.js"></script>
  <script src="/templates/tinydash/light/js/topojson.min.js"></script>
  <script src="/templates/tinydash/light/js/datamaps.all.min.js"></script>
  <script src="/templates/tinydash/light/js/datamaps-zoomto.js"></script>
  <script src="/templates/tinydash/light/js/datamaps.custom.js"></script>
  <script src="/templates/tinydash/light/js/Chart.min.js"></script>
  <script>
    /* defind global options */
    Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
    Chart.defaults.global.defaultFontColor = colors.mutedColor;
  </script>
  <script src="/templates/tinydash/light/js/gauge.min.js"></script>
  <script src="/templates/tinydash/light/js/jquery.sparkline.min.js"></script>
  <script src="/templates/tinydash/light/js/apexcharts.min.js"></script>
  <!--  <script src="/templates/tinydash/light/js/apexcharts.custom.js"></script>-->
  <!--  <script src="/templates/tinydash/light/js/graphic_academic_works.js"></script>-->
  <%= javascript_pack_tag 'graphic_academic_works' %>
  <!--  <script src="/templates/tinydash/light/js/apps.js"></script>-->
<% end %>

<% content_for :footer do %>
  <script type="text/javascript" charset="utf-8">
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'doughnut', data: {
        labels: ['TCC', 'Pesquisa', 'Extensão'], datasets: [{
          // label: '# of Votes',
          data: [<%= @persent_tcc %>, <%= @persent_search %>, <%= @persent_extention %>],
          backgroundColor: ['#3AD29F', '#2C67FF', '#EFA302'],
          borderColor: colors.borderColor,
          borderWidth: 1
        }]
      }, options: {
        legend: false, tooltips: false, maintainAspectRatio: !1, responsive: !0
      }
    });

    function showInfoIdeas() {
      $.ajax({
        url: '<%= set_cookie_pages_path(cookie: AcademicWorksController::SHOW_INFO_INDEX) %>', dataType: 'json'
      });
    }

  </script>
<% end %>