<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.title' %>:</strong>
  <%= @academic_work.title %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.author' %>:</strong>
  <%= @academic_work.author %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.teacher_id' %>:</strong>
  <%= @academic_work.teacher.name %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.summary' %>:</strong>
  <%= @academic_work.summary %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.summary' %>:</strong>
  <%= @academic_work.course %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.defense_date' %>:</strong>
  <%= @academic_work.defense_date %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.work_type' %>:</strong>
  <%= @academic_work.work_type_text %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.keyword' %>:</strong>
  <%= @academic_work.keyword %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.how_to_quote' %>:</strong>
  <%= @academic_work.how_to_quote %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.academic_work.appraisers' %>:</strong>
  <%= @academic_work.appraisers %>
</p>

<% if @academic_work.document %>
<p>
  <strong><%= t 'activerecord.attributes.academic_work.document' %>:</strong>
  <iframe src="<%= url_for @academic_work.document %>" width="100%" height="500" style="border: none;"></iframe>
</p>
<% else %>
  <p>
    <strong><%= t 'activerecord.attributes.academic_work.document_link' %>:</strong>
    <%= @academic_work.document_link %>
  </p>
<% end %>
