<!-- Slide Modal -->
<%= yield :busca %>
<% content_for :header do %>
  <style>

  </style>
<% end %>

<div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" id="modal-notifications">
      <div class="modal-header">
        <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush my-n3">
          <% @notifications.each do |n| %>

            <div class="list-group-item bg-transparent" onclick="show_notification('<%= n.title %>', '<%= n.description %>', '<%= n.created_at.to_s %>')">
              <div class="row align-items-center">
                <div class="col-auto">
                  <% if n.type_notification.new_collaboration? %>
                    <span class="fe fe-user-plus fe-24"></span>
                  <% elsif n.type_notification.quit_collaboration? %>
                    <span class="fe fe-user-x fe-24"></span>
                  <% else %>
                    <span class="fe fe-users fe-24"></span>
                  <% end %>
                </div>
                <div class="col">
                  <small><strong><%= n.title %></strong></small>
                  <div class="my-0 text-muted small"><%= n.description.truncate(80) %></div>
                  <small class="badge badge-pill badge-light text-muted"><%= n.created_at.to_s %></small>
                </div>
              </div>
            </div>

          <% end %>


        </div> <!-- / .list-group -->
      </div>
      <div class="modal-footer" style="background: #212529;">
        <%= form_with url: notifications_clear_path, remote: true do |f| %>
          <input class="btn btn-secondary btn-block" type="submit" value="Clear All"/>
        <% end if @notifications.any? %>
      </div>
    </div>
  </div>
</div>
<% content_for :footer do %>
  <script>
    $("#modal-notifications .modal-header").css({backgroundColor: colors.backgroundColor});
    $("#modal-notifications .modal-body").css({backgroundColor: colors.backgroundColor});
    $("#modal-notifications .modal-footer").css({backgroundColor: colors.backgroundColor});
  </script>
<% end %>