<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
  <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
    <i class="fe fe-x"><span class="sr-only"></span></i>
  </a>
  <nav class="vertnav navbar navbar-light">

    <div class="w-100 d-flex">
      <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
        <img src="/img/logo.png" width="100%" alt="" id="logo">
      </a>
    </div>
    <% if @profiles_s.include? 'admin' or @profiles_s.include? 'archiver' %>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Mural de trabalhos</span>
      </p>
    <% end %>

    <ul class="navbar-nav flex-fill w-100 mb-2">
      <% if @profiles_s.include? 'admin' or @profiles_s.include? 'archiver' %>
        <li class="nav-item w-100">
          <a class="nav-link nav-link-primary" href="<%= academic_works_path %>">
            <i class="fe fe-file-text fe-16"></i>
            <span class="ml-3 item-text">Trabalhos acadêmicos</span>
          </a>
        </li>
      <% end %>
    </ul>

    <% if @profiles_s.include? 'ideializer' %>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Depósito de ideias</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <% if @profiles_s.include? 'admin' or @profiles_s.include? 'collaborator' %>
          <li class="nav-item w-100">
            <a class="nav-link nav-link-primary" href="<%= ideas_path %>">
              <i class="fe fe-message-square fe-16"></i>
              <span class="ml-3 item-text">Mural de ideias</span>
            </a>
          </li>
        <% end %>
        <% if @profiles_s.include? 'admin' %>
          <li class="nav-item w-100">
            <a class="nav-link" href="<%= dashboard_ideas_path %>">
              <i class="fe fe-pie-chart fe-16"></i>
              <span class="ml-3 item-text">Deshboard ideias</span>
            </a>
          </li>
        <% end %>
        <li class="nav-item w-100">
          <a class="nav-link" href="<%= my_ideas_ideas_path %>">
            <i class="fe fe-send fe-16"></i>
            <span class="ml-3 item-text">Minhas ideias</span>
          </a>
        </li>
      </ul>
    <% end %>

    <% if @profiles_s.include? 'admin' %>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Administração</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item w-100">
          <a class="nav-link" href="<%= profiles_path %>">
            <i class="fe fe-tool fe-16"></i>
            <span class="ml-3 item-text">Perfis</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="<%= users_path %>">
            <i class="fe fe-users fe-16"></i>
            <span class="ml-3 item-text">Usuários</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="<%= teachers_path %>">
            <i class="fe fe-list fe-16"></i>
            <span class="ml-3 item-text">Docentes</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="<%= courses_path %>">
            <i class="fe fe-list fe-16"></i>
            <span class="ml-3 item-text">Cursos</span>
          </a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link" href="<%= idea_categories_path %>">
            <i class="fe fe-list fe-16"></i>
            <span class="ml-3 item-text">Categorias de ideias</span>
          </a>
        </li>
      </ul>
    <% end %>
  </nav>
</aside>