<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <!--  CSS generic from template-->
  <link rel="stylesheet" href="/templates/tinydash/light/css/simplebar.css">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/templates/tinydash/light/css/feather.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/daterangepicker.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/app-light.css" id="lightTheme">
  <link rel="stylesheet" href="/templates/tinydash/light/css/app-dark.css" id="darkTheme" disabled>
  <!--  CSS specific toast-->
  <!--  <link rel="stylesheet" href="assets/izitoast/dist/css/iziToast.min.css">-->
  <!--  CSS especifico validations-->
  <link rel="stylesheet" href="/templates/tinydash/light/css/select2.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/dropzone.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/uppy.min.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/jquery.steps.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/jquery.timepicker.css">
  <link rel="stylesheet" href="/templates/tinydash/light/css/quill.snow.css">

  <title>TCC Produto</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" href="/assets/izitoast/dist/css/iziToast.min.css">
  <link rel="stylesheet" href="/assets/sweetalert2/dist/sweetalert2.css">
  <%#= render partial: 'layouts/css_validations' %>
  <%= yield :header %>
</head>

<body class="vertical  light  ">
<div class="wrapper">

  <%= render partial: 'layouts/topbar' %>
  <%= render partial: 'layouts/sidebar_left' %>

  <main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <%= yield %>

          <%= render partial: 'layouts/sidenav-right' %>
        </div>
      </div>
    </div>
  </main>

</div>
<!--JS generic from template-->
<script src="/templates/tinydash/light/js/jquery.min.js"></script>
<script src="/templates/tinydash/light/js/popper.min.js"></script>
<script src="/templates/tinydash/light/js/moment.min.js"></script>
<script src="/templates/tinydash/light/js/bootstrap.min.js"></script>
<script src="/templates/tinydash/light/js/simplebar.min.js"></script>
<script src='/templates/tinydash/light/js/daterangepicker.js'></script>
<script src='/templates/tinydash/light/js/jquery.stickOnScroll.js'></script>
<script src="/templates/tinydash/light/js/tinycolor-min.js"></script>
<script src="/templates/tinydash/light/js/config.js"></script>
<!--<script src="/templates/tinydash/light/js/apps.js"></script>-->

<!--JS specific js_notification-->
<%= render partial: 'layouts/js_notification' %>

<!--JS specific validations-->
<%= render partial: 'layouts/js_validations' %>

<script src="/assets/sweetalert2/dist/sweetalert2.js"></script>

<script type="text/javascript" charset="utf-8">
    // init tolltip bootstrap
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<%= yield(:footer) %>
</body>
</html>
