<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <!-- Simple bar CSS -->
  <link rel="stylesheet" href="/templates/tinydash/light/css/simplebar.css">
  <!-- Fonts CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Icons CSS -->
  <link rel="stylesheet" href="/templates/tinydash/light/css/feather.css">
  <!-- Date Range Picker CSS -->
  <link rel="stylesheet" href="/templates/tinydash/light/css/daterangepicker.css">
  <!-- App CSS -->
  <link rel="stylesheet" href="/templates/tinydash/light/css/app-light.css" id="lightTheme">
  <link rel="stylesheet" href="/templates/tinydash/light/css/app-dark.css" id="darkTheme" disabled>

  <link rel="stylesheet" href="assets/izitoast/dist/css/iziToast.min.css">

  <title>TccProduto</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" href="assets/izitoast/dist/css/iziToast.min.css">
  <%= render partial: 'layouts/css_validations' %>
  <%= yield :header %>
</head>

<body class="vertical  light  ">
<div class="wrapper">

  <%= render partial: 'layouts/topbar' %>
  <%= render partial: 'layouts/sidebar_left' %>

  <main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-box fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Package has uploaded successfull</strong></small>
                    <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                    <small class="badge badge-pill badge-light text-muted">1m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-download fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Widgets are updated successfull</strong></small>
                    <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                    <small class="badge badge-pill badge-light text-muted">2m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-inbox fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Notifications have been sent</strong></small>
                    <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                    <small class="badge badge-pill badge-light text-muted">30m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-link fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Link was attached to menu</strong></small>
                    <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                    <small class="badge badge-pill badge-light text-muted">1h ago</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="/templates/tinydash/light/js/jquery.min.js"></script>
<script src="/templates/tinydash/light/js/popper.min.js"></script>
<script src="/templates/tinydash/light/js/moment.min.js"></script>
<script src="/templates/tinydash/light/js/bootstrap.min.js"></script>
<script src="/templates/tinydash/light/js/simplebar.min.js"></script>
<script src='/templates/tinydash/light/js/daterangepicker.js'></script>
<script src='/templates/tinydash/light/js/jquery.stickOnScroll.js'></script>
<script src="/templates/tinydash/light/js/tinycolor-min.js"></script>
<script src="/templates/tinydash/light/js/config.js"></script>
<!--<script src="/templates/tinydash/light/js/apps.js"></script>-->

<%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>
<%= render partial: 'layouts/js_notification' %>
<%= render partial: 'layouts/js_validations' %>
<%= yield(:footer) %>
</body>
</html>
